<div id="not_found" class="side-pad">
  <h1 class="title">{{ settings.tr_page_missing }}</h1>
  <div class="empty c">
  	<p class="alert alert-info">{{ settings.tr_page_not_found }}</p>
  </div>
   <div class="search">
				<form name="productSearchForm" action="/search" class="input-append">
					<input type="text" name="q" class="replace product_search" title="Search" placeholder="{{ settings.tr_search }}..." />
					<button type="submit" class="submit btn alternate go_search">{{ settings.tr_search }}</button>
				</form>
   </div>

</div> <!-- /#not_found -->